* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    margin: auto;
}
.fizzList {
    display: flex;
    flex-wrap: wrap;
}
.fizzList li {
    list-style-type: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px solid #fff;
}
.fizzListBC {
    background-color: aqua;
}
.fizz {
    background-color: bisque;
}
.buzz {
    background-color: salmon;
}
.fizzbuzz {
    background-color: darkcyan;
}